.d-1-background {
  background-size: cover;
  height: 750px;
  background-image: url("../assets/digital/digital-landing-1.png");
}

.clanding-6-container.digital {
  height: 500px;
}

.planding-3-background.digital {
  padding-top: 120px;
  height: 100vh;
}

.planding-3-div.digital {
  padding-top: 80px;
}

.landing-table-header-lite.digital {
  width: 900px;
}

.landing-table-item-white.digital {
  width: 900px;
}

.landing-table-item-grey.digital {
  width: 900px;
}

.digital-landing-text {
  font-size: 18px;
  line-height: 1.56;
  color: #000;
  font-family: "Rubik";
  text-align: center;
}

.dl-step-image {
  width: 360px;
  height: 605px;
}

@media (max-width: 1600px) {
  .clanding-6-background-image.digital {
    object-fit: cover;
  }
}

@media only screen and (max-width: 1368px) {
  .planding-3-div.digital {
    width: 95%;
  }
}

@media only screen and (max-width: 1180px) {
  .d-1-background {
    width: 100vw;
    background-repeat: no-repeat;
    height: 600px;
  }
  .planding-3-div.digital {
    width: 100%;
  }
  .planding-3-item {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 1025px) {
  .d-1-background {
    background-position: center;
    height: 550px;
  }
  .dl-step-image {
    width: 280px;
    height: 450px;
  }
  .planding-3-div.digital {
    width: 92%;
  }
  .planding-3-background.digital {
    height: 1100px;
  }
  .landing-table-header-lite.digital {
    width: 650px;
  }
  
  .landing-table-item-white.digital {
    width: 650px;
  }
  
  .landing-table-item-grey.digital {
    width: 650px;
  }
}

@media only screen and (max-width: 769px) {
  .d-1-background {
    display: none;
  }
  .landing-table-header-lite-title{
    text-align: center;
  }
  .clanding-1-mobile-div.digital {
    background-image: url("../assets/digital/digital-landing-1-mobile.png");
  }
  .planding-3-mobile-item.digital {
    margin-top: 10px;
  }

  .clanding-title.digital {
    margin-top: 40px;
  }

  .landing-table-header-lite.digital {
    width: 500px;
  }
  
  .landing-table-item-white.digital {
    width: 500px;
  }
  
  .landing-table-item-grey.digital {
    width: 500px;
  }
}
